.moving {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  overflow:hidden;
}

.btn_prev {
  color:#bbb;
  font-size:35px;
  margin-left: 5px;
  cursor: pointer;
  width : 50px;

}

.mainstory {
  font-size:18px;
  text-align: left;
  width: calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  color: #444;
}

.btn_next {
  color:#bbb;
  font-size:35px;
  margin-right:10px;
  cursor: pointer;
  width : 50px;
  padding-right:0px;
}
.hollow {
  color:#000;
  font-size:35px;
  margin-right:10px;
  cursor: pointer;
  width : 50px;
}

.newbranch {
  color:#000;
  font-size: 20px;
  background-color: transparent;
  border-radius:3px;
  border: thin solid #ddd;
  margin:7px;
}

.newbranch:hover {
    color:#0085A1;
    border-color:#eee;
}

.paper {
  background-color:#fdfdfd;
  border-radius:5px;
  padding:30px 0px 30px 0px;
}

.like_div{
    padding:10px 0px 30px 0px;
    color: #bbb;
}

#like_i:hover{
    color: #ff7070;
}
.fa-heart{
    color: #ff7070;
}
.heart{
    color: #ff7070;
}
