{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block javascripts %}
{{ block.super }}
<!-- jQuery -->
<script src="/media/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/media/js/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script src="/media/js/templete.js"></script>
{% endblock %}

{% block header %}
  {{ block.super }}
  {% include 'components/nav.html' %}
{% endblock %}

{% block contents %}
{% endblock %}

{% block modals %}
  {{ block.super }}
{% endblock %}

{% block footer %}
  {{ block.super }}
  {% include 'components/footer.html' %}
{% endblock %}
