{% extends "storyboard/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  {% include 'components/header.html' with header_title=header_title %}
{% endblock %}

{% block contents %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<ul style="list-style-type:none">
				{% for paragraph in paragraphs %}
				<li>
					<div class="post-preview">
						<a href="/novel/{{paragraph.novel.id}}">
							<h2 class="post-title">
								{{paragraph.novel.title}}
							</h2>
                            <h3 class="post-subtitle">
								{{paragraph.text|truncatechars:40}}
							</h3>

						</a>
                        <p class="post-meta">written by <a href="/profile/{{paragraph.writer.username}}">{{paragraph.writer}}</a> on {{paragraph.pub_date|date:"M, d, Y"}}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
			<hr>
			<!-- Pager -->
			<ul class="pager">
				<li class="next">
					<a href="#">Older Posts &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}
