{% extends "storyboard/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="/media/js/novel-ajax.js"></script>
{% endblock %}

{% block contents %}


<div class="row">
    <form class="form-signin" method="post" action="/insert/">
        {% csrf_token %} 
        <div id="novelbox" class="col-xs-6 col-xs-offset-3" >
            <h4 style="display:block; text-align: center" >{{novel.title}}</h4>
            {% for paragraph in paragraphs %}
            <div id="first_box">
                <input type="hidden" class="first_text" value="{{paragraph.text}}^|&|{{paragraph.id}}^|&|{{paragraph.index}}^|&|{{paragraph.is_parallelfirst}}^|&|{{paragraph.is_parallellast}}">
                {% endfor %}
        </div>
    </form>
        </div>
        {% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}
