{% extends "storyboard/layout.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block metatags %}
  {{ block.super }}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type = "text/javascript" src="/media/js/text-editor.js"></script>
{% endblock %}

{% block header %}
  {{ block.super }}
  {% include 'components/header.html' with header_title=header_title %}
{% endblock %}

{% block contents %}
<div contenteditable="true" style="width:600px;height:700px;border:1px solid #ddd">
</div>
<button class="btn btn-primary" id = "large" >larger</button>
<button class="btn btn-primary" id = "example" >example</button>
<button class="btn btn-primary" id = "bold" >bold</button>
<button class="btn btn-primary" id = "itelic" >itelic</button>
<button class="btn btn-primary" id = "default" >undo</button>
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}
