<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:#000;opacity:0.55;border-color:transparent">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/"style="font-size:35px">Story Street</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right" style="font-size:25px;color:#fff">
                {% if request.user.is_authenticated %}
				<li>
                    <a href="/profile/{{user.username}}">My Profile</a>
				</li>
				<li>
					<a href="/insert">+ New Story</a>
                </li>
                {% else %}
                <li>
                    <a href="/session/login">Login</a>
                </li>

                {% endif %}
				<li>
					<a href="/team">Team</a>
				</li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="/session/logout">Logout</a>
				</li>
                {% endif %}

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
